/*---------------------
    Brand Carousel
-----------------------*/
.brand-carousel-area{
    background-color: #f7f7f7;
    padding: 50px 0;
    .brand-carousel-inner{
        .single-carousel-item{
            padding: 50px;
            img{
                filter: grayscale(100%);
                @include transition($transition);
            }
            &:hover{
                img{
                    filter: grayscale(0);
                }
            }
        }
    }
}