/*-------------------------
    How It Works
--------------------------*/
.how-it-works{
    padding: 120px 0 100px 0;
    .single-how-it-work-box{
        &:hover{
            .icon{
                color: $white; 
                &:before{
                    width: 100%;
                    height: 100%;
                    visibility: visible;
                    opacity: 1;
                }
            }
            .content{
                .title{
                    color: $base-color;
                }
            }
        }
        .icon{
            width: 160px;
            height: 160px;
            border-radius: 50%;
            border: 2px solid rgba(0,0,0,0.10);
            line-height: 185px;
            color: $base-color;
            margin: 0 auto;
            position: relative;
            z-index: 1;
            @include transition($transition);
            &.none-arrow{
                &:after{
                    display: none;
                }
            }
            &:before{
                position: absolute;
                left: 50%;
                top: 50%;
                width: 10%;
                height: 10%;
                background-color: $base-color;
                content:'';
                border-radius: 50%;
                z-index: -1;
                @include translate(-50%,-50%);
                @include transition($transition);
                visibility: hidden;
                opacity: 0;
            }
            &:after{
                position: absolute;
                right: -70px;
                top: -15px;
                font-size: 30px;
                color: rgba(0,0,0,0.10);
                @include fontawesomeIcon("\f105");
                // @include animate(left-2-right, 3s, infinite, lenier);
            }
            i{
                font-size: 50px;
                line-height: 50px;
                &:before{
                    font-size: 50px;
                    line-height: 50px;
                }
            }
        }
        .content{
            padding-top: 32px;
            .title{
                font-size: 24px;
                line-height: 34px;
                font-weight: 800;
                color: #1e2333;
                margin-bottom: 15px;
                @include transition($transition);
            }
            .descripton {
                padding: 0 30px;
                font-size: 14px;
                line-height: 24px;
                color: #64687e;
            }
        }
    }
}
@include keyframes(left-2-right){
    0%{
        right: -50px;
    }
    50% {
        opacity: .8;
        color: $base-color;
    }
    100%{
        right: -100px;
        opacity: 0;
    }
}